@import './var.scss';
.title-02 {
  position: relative;
  a {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: navy;
  }
}
.chatroom-box__wrap {
  @media(max-width:1200px){
    display: block!important;
  }
  .chatroom-box {
    width: 50%;
    padding: 15px;
    @media(max-width:1200px){
      width: 100%;
      padding: 10px 0;
    }
    > button {
      display: block;
      width: 100%;
      cursor: pointer;
    }
    .chatroom-box__division {
      display: block;
      background: url('/images/bg/galaxy.webp');
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media(max-width:1200px){
        padding: 10px 0;
      }
      h3,h4,p {
        color: $-c-white;
      }
      h3 {
        font-size: 20px;
      }
      h4 {
        @media(max-width:1200px){
          margin-bottom: 15px;
        }
      }
      > div {
        width: calc(100% - 80px);
        padding: 0 10px;
        &:first-of-type {
          width: 80px;
          height: 80px;
          padding: 10px;
          img {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 8px;
            overflow: hidden;
          }
        }
      }
    }
    .chatroom-box__division--form {
      display: block;
      background: url('/images/bg/galaxy.webp');
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      > div {
        width: 100%;
        text-align: center;
        input {
          display: inline-block;
          width: 300px;
          background: rgba(200, 200, 200, 0.75);
          border: none;
          border-radius: 5px;
          font-size: 20px;
          padding: 5px 10px;
          transition: all 0.5s ease-in-out 0s, filter 0.2s ease-in-out 0s;
          &:focus {
            filter: drop-shadow(8px 5px 4px #4444dd);
          }
        }
      }
      button {
        background: rgba(200, 200, 200, 0.75);
        filter: drop-shadow(0px 0px 4px #4444dd);
        border: none;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px 10px;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.video-box {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  @media(max-width:600px){
    height: 200px;
  }
  video {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: contain;
    // &:nth-of-type(2) {
    //   position: absolute;
    //   bottom: 10px;
    //   right: 10px;
    //   width: 20%;
    //   height: auto;
    // }
  }
}
.chat-box {
  display: block;
  background: url('/images/bg/galaxy.webp');
  border-radius: 10px;
  padding: 15px;
  flex-wrap: wrap;
  align-items: center;
  @media(max-width:1200px){
    width: 100%;
    padding: 10px 0;
  }
  .chat-box__chats {
    max-height: calc(100vh - 600px);
    overflow: scroll;
    @media(max-width:1200px){
      max-height: calc(100vh - 480px);
    }
    .chats {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .chat-box__division {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        width: 50%;
        padding: 0 15px;
        @media(max-width:1200px){
          width: 90%;
        }
        > a {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .chat-box__wrap {
          width: calc(100% - 60px);
          padding-left: 20px;
          strong {
            color: $-c-white;
            display: inline-block;
            margin-bottom: 10px;
          }
          .chatting {
            border-radius: 10px;
            // background: $-c-white;
            background: rgba(255, 255, 255, 0.7);
            padding: 10px;
            p {
              color: $-c-black;
            }
          }
        } 
      }
      &.right {
        justify-content: flex-end;
        .chat-box__division {
          .chat-box__wrap {
            .chatting {
              background: rgba(255, 245, 230, 0.7);;
            }
          }
        }
      }
    }
  }
  .chat-box__input {
    position: relative;
    input {
      background: #eee;;
      display: block;
      padding: 5px;
      border-radius: 8px;
      width: 100%;
      font-size: 18px;
    }
    button {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      border: none;
      background: url('/images/bg/galaxy.gif');
      color: $-c-white;
      padding: 5px 10px;
      font-weight: bold;
    }
  }
}