@import '@/styles/var.scss';
@import '@/styles/font.scss';
@import '@/styles/text.scss';
@import '@/styles/highlight.scss';
html {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'NotoSansKR';
  font-weight: normal;
  color: #222;
  scroll-behavior: smooth;
  background: $-c-black;
  min-width: 360px;
  * {
    box-sizing: border-box;
  }
  overflow-y: overlay;
}
body {
  background: url('/images/bg/galaxy.webp');
  min-height: 100vh;
  // background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6,p,strong,b,u,em,i,a {line-height: 1.5;}
::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  width: 7px;
  border-radius: 7px;
  border: 1px solid darkgrey;
  background: url('/images/bg/galaxy.gif');
  background-size: 60%;
  background-position: 0%;
  background-attachment: fixed;
}

// .onlyPC {display: block;}
// .onlyTab {display: none!important;}
.onlySP {display: none!important;}
@media(max-width: $breakPoint) {
  .onlyPC {display: none!important;}
  .onlySP {display: block!important;}
}
.onlyTab {
  display: block;
  @media(max-width: $breakPoint2) {
    display: none!important;
  }
}




.opacity0 {opacity: 0!important;visibility: hidden!important;}
.header {

  height: 600px;
  // overflow: hidden;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url('/images/bg/galaxy.gif');
    background-attachment: fixed;
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -100px;
    background: url('/images/bg/galaxy.gif');
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    background-attachment: fixed;
  }
  &.img-box {
    img {
      height: 100%;
    }
  }
}

.img-box--words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 13;
  h1, p {
    color: #fff;
    line-height: 1.3;
    transition: 0.3s;
    opacity: 1;
  }
  h1 {
    font-size: 5rem;
    font-weight: 900;
    font-family: GangwonEduPowerExtraBoldA;
    text-align: center;
    @media(max-width: $breakPoint){
      font-size: 3rem;
    }
  }
  p {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 4.0px;
    text-align: center;
  }
  
}
.h-600 {
  top:67px;
  height: 600px!important;
  position: relative;
  @media(max-width: $breakPoint){
    top:75px;
    height: 600px;
  }
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  color: #222;
}
p {
  font-size: 1rem;
  color: #222;
}
b, strong {
  font-weight: bold;
}
.txt {
  margin-top: 10px;
}
/* title */
.title-01,.title-02,.title-03,.title-04,.title-05,.title-06 {font-weight: 900; color: $-c-black;font-family: GangwonEduPowerExtraBoldA;}
.title-01 {
  font-size: 2.3rem;
  line-height: 1.5;
  margin-top: 30px;
}
.title-02 {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 25px;
  @media(max-width:$breakPoint){
    font-size: 1.8rem;
  }
}
.title-03 {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-top: 32px;
  text-align: center;
  @media(max-width:$breakPoint){
    font-size: 1.375rem;
  }
}
.title-04 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 20px;
  text-align: center;
}
.title-05 {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 20px;
  text-align: center;
}
.title-06 {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 30px;
  text-align: center;
}

.t-red {
  color: #b62200;
}

.title-area {
  display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20%;
    @media(max-width:$breakPoint){
      padding-left: 0;
      padding-right: 0;
    }
    h4, p {
      font-size: 0.92rem;
      line-height: 1.8;
      @media(max-width:$breakPoint){
        font-size: 0.88rem;
      }
    }
    h4 {
      font-size: 1.1rem;
      padding-left: 20px;
      font-weight: 900;
      border-left: 3px solid #d2b369;
    }
    p {
      font-size: 0.92rem;
      text-align: right;
      &:first-of-type {
        margin-top: 10px;
      }
    }
}
.title-area--title {
  padding-left: 20px;
  border-left: 3px solid #d2b369;
  h4 {
    border: none;
  }
  h4, p {
    padding-left: 0;
    text-align: left;
  }
}



.ly-flex {
  display: flex;
  & > div {
    flex: 1;
  }
}
.ly-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  @media(max-width: $breakPoint){

  }
  & > .ly-flex-inner {
    padding: 20px;
    width: 50%;
    text-decoration: none;
    @media(max-width: $breakPoint){
      width: 100%;
      padding: 5px;
      justify-content: center;
    }
  }
  & > a {
    padding: 20px;
    width: 50%;
    text-decoration: none;
  }
  article {
    margin: auto;
    &:nth-of-type(1),&:nth-of-type(2) {
      margin: 0 auto;
      @media(max-width: $breakPoint){
        margin: auto;
      }
    }
  }
}
.ly-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.wrap {
  position: relative;
  width: 100%;
  min-width: 360px;
  margin: auto;
}

@keyframes fuck {
  0% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 500vw;
    height: 500vh;
  }
}
.splash-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  overflow: hidden;
  &.fadeOut {
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out 1.0s;
  }
  .splash-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: #fff;
    width: 63px;
    &.active {
      width: 140px;
    }
  }
  .splash-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    // box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
    transform: translate(-50%,-50%);
    z-index: 6;
    mix-blend-mode: screen;
    background: url('/images/bg/galaxy.gif');
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    animation: fuck 100s linear 0s;
  }
  .splash-bg-after {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: url('/images/bg/galaxy.webp');
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    transition: 1.0s;
    top: 50%;
    left: 50%;
    // box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
    transform: translate(-50%,-50%);
    z-index: 7;
    // mix-blend-mode: screen
    &.active {
      width: 200vw;
      height: 200vh;
    }
  }
}


.section {
  max-width: $breakPoint;
  margin: auto;
  margin-top: 50px;
  padding: 24px 50px 50px;
  border-radius: 30px;
  // background: grey;
  background: rgba(200,200,200,0.75);
  @media(max-width: $breakPoint) {
    padding: 18px 10px 43px;
    max-width: calc(100vw - 20px);
  }
}
.hidden {width: 0; height: 0; opacity: 0; user-select: none; overflow: hidden;}
.img-box {
  perspective: 200px;
  display: block;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.img-flip {
  position: relative;
  transition: 0.75s;
  transform-style: preserve-3d;
  img {
    position: relative;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .15);
    backface-visibility: hidden;
    border-radius: 50%;
  }
  &::before {
    content: 'Seoul\A Korea';
    white-space: pre;
    color: #fff;
    line-height: 1.5;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    border-radius: 50%;
    transform: rotateY(180deg) translate(50%,-50%);;
    backface-visibility: hidden;
    z-index: 3;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url('/images/DSC06837_2.webp');
    background-size: contain;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .15);
    transform: rotateY(180deg) scaleX(-1);
    filter: brightness(0.3) hue-rotate(340deg) saturate(70%);
    backface-visibility: hidden;
    z-index: 2;
  }
  &:hover {
    transform: rotateY(180deg);
  }
}

.table {
  margin-top: 20px;
  table {
    table-layout: fixed;
    width: 100%;
    caption {width: 0; height: 0; opacity: 0; user-select: none; overflow: hidden;}
    colgroup {
      col {width: 175px;}
      col:nth-of-type(2) {width: calc(50% - 175px);}
      col:nth-of-type(4) {width: calc(50% - 175px);}
      @media(max-width:413px) {
        col {width: 120px;}
        col:nth-of-type(2),col:nth-of-type(4) {width: 0;}
      }
    }
    thead {
      tr {
        th {
          text-align: center;
          font-weight: bold;
          font-size: 1.5rem;
          padding: 15px;
        }
      }
    }
    tbody {
      tr {
        th {
          height: 60px;
          position: relative;
          vertical-align: middle;
          display: table-cell;
          font-weight: 900;
          
          .th-wrap {
            justify-content: flex-start;
            align-items: center;
            display: flex;
            .th-img {
              display: block;
              margin: auto;
              width: 60px;
              height: auto;
              padding: 8px;
              filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.95));
              &.filter-type2 {
                filter: drop-shadow(0px 0px 5px rgba(121, 50, 125, 0.95));
              }
            }
            .th-title {
              width: 175px;
              padding-left: 5px;
              font-size: 1.05rem;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              word-break: break-word;
              @media(max-width:413px) {
                font-size: 0.865rem;
                padding: 8px 6px 8px 0;
              }
            }
          }
          
        }
        td {
          overflow: hidden;
          font-size: 1.3rem;
          vertical-align: middle;
          padding: 12px 12px 12px 5px;
          // height: 60px;
          @media(max-width:413px) {
            padding: 12px 5px 12px 0
          }
          .td-desc {
            font-size: 0.95rem;
            display: flex;
            align-items: center;
            white-space: break-spaces;
            word-break: break-all;
            line-height: 1.5;
          }
        }
      }
    }
  }
  &.type2 {
    table {
      colgroup {
        col {width: 140px;}
        col:nth-of-type(2) {width: calc(100% - 140px);}
      }
      tbody {
        tr {
          th {
            text-align: left;
            height: unset;
            font-size: 1.3rem;
            font-weight: 900;
            display: table-cell;
            @media(max-width:$breakPoint){
              padding-top: 1px;
            }
          }
          td {
            font-size: 1rem;
            height: 45px;
            line-height: 1.5;
          }
        }
      }
    }
    
  }
}

.dl {
  dt {
    font-size: 1.3rem;
    font-weight: 900;
    font-family: GangwonEduPowerExtraBoldA;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
  }
  dd {
    margin-top: 20px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

// sizing -------------------
@function size($start, $end) {
  $size: ();
  @for $i from $start through $end {
    $value: $i + 0;
    $size: append($size, $value);
  }
  @return $size;
}
$size: size(0, 100);
/*******************************************************************************
    Generate Spacing
*******************************************************************************/

// Padding, Margin 정의
// p는 padding, m은 margin을 나타냄.
// t는 상단 b는 하단 l은 왼쪽 r은 오른쪽의 방향
// ex )
//  pt-10 => padding-top:10px
//  mb-22 => margin-bottom: 22px

$position: (
  "l": "left",
  "r": "right",
  "t": "top",
  "b": "bottom",
  "x": "left",
  "y": "top"
);
$spacingNameMap: (
  "m": "margin",
  "p": "padding",
);

@mixin generate($spacingNameMap: (), $position: (), $size: ()) {
  @each $preKey, $preValue in $spacingNameMap {
    @each $px in $size {
      .#{$preKey}-#{$px} {
        #{$preValue}: #{$px}px !important;
      }
      @each $sufKey, $sufValue in $position {
        .#{$preKey}#{$sufKey}-#{$px} {
          @if $sufKey == x {
            #{$preValue}-left: #{$px}px !important;
            #{$preValue}-right: #{$px}px !important;
          }@else if $sufKey == y{
            #{$preValue}-top: #{$px}px !important;
            #{$preValue}-bottom: #{$px}px !important;
          }@else{
              #{$preValue}-#{$sufValue}: #{$px}px !important;
            }

          }
      }
    }
  }
}

@include generate($spacingNameMap, $position, $size);

$position: (
  "left",
  "right",
  "top",
  "bottom",
);
@mixin generate($position: (), $size: ()) {
  @each $eachPosition in $position {
    @each $px in $size {
      .#{$eachPosition}-#{$px} {
        #{$eachPosition}: #{$px}px !important;
      }
      .#{$eachPosition}-m#{$px} {
        #{$eachPosition}: -#{$px}px !important;
      }
    }
  }
}

@include generate($position, $size);
.m-auto {margin: auto !important;}

/*******************************************************************************
    Generate Width
*******************************************************************************/

// Width 정의
// ex )
// w-10 => width:10%
// w-56 => width:56%

$widthNameMap: (
  "w": "width",
);
@mixin generate($widthNameMap: (), $size: ()) {
  @each $preKey, $preValue in $widthNameMap {
    @each $percent in $size {
      .#{$preKey}-#{$percent} {
        #{$preValue}: #{$percent}#{'%'} !important;
      }
    }
  }
}
@include generate($widthNameMap, $size);
@each $fontSize in $size {
  .t-#{$fontSize} {
    font-size: #{$fontSize}#{'px'} !important;
  }
}

$widthPixelNameMap: (
  "wp": "width",
);
@mixin generate($widthPixelNameMap: (), $size: ()) {
  @each $preKey, $preValue in $widthNameMap {
    @each $pixel in $size {
      .#{$preKey}-#{$pixel} {
        #{$preValue}: #{$pixel}#{'px'} !important;
      }
    }
  }
}
@include generate($widthNameMap, $size);
@each $fontSize in $size {
  .t-#{$fontSize} {
    font-size: #{$fontSize}#{'px'} !important;
  }
}

// sizing -------------------
@function heightSize($start, $end) {
  $heightSize: ();
  @for $i from $start through $end {
    $value: $i * 100;
    $heightSize: append($heightSize, $value);
  }
  @return $heightSize;
}
$heightSize: heightSize(1, 10);
$heightPixelNameMap: (
  "hp": "height",
);
@mixin generate($heightPixelNameMap: (), $heightSize: ()) {
  @each $preKey, $preValue in $heightPixelNameMap {
    @each $pixel in $heightSize {
      .#{$preKey}-#{$pixel} {
        #{$preValue}: #{$pixel}#{'px'} !important;
      }
    }
  }
}
@include generate($heightPixelNameMap, $heightSize);

/* animation */
.fadeInUp {
  opacity: 0.1;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out 0s;
  &.active {
    opacity: 1;
    transform: translateY(0);
  } 
}

.blink {filter: drop-shadow(8px 5px 4px #4444dd); transition: all 0.5s ease-in-out 0s, filter 0.2s ease-in-out 0s;}
.h-auto {height: auto!important;}

