@import './var.scss';
.copy-text {
  position: relative;
  display: inline-block;
  font-weight: 900;
  left: 50%;
  background: transparent;
  border: none;
  transform: translateX(-50%);
  font-size: 16px;
  padding-left: 38px;
  cursor: pointer;
  line-height: 30px;
  &::before {
    content: '';
    border-radius: 6px;
    position: absolute;
    display: block;
    left: 0px;
    width: 30px;
    height: 30px;
    background: url('/images/bg/galaxy.gif');
  }
}
.vote-box__wrap {
  @media(max-width:1200px){
    display: block!important;
  }
  .vote-box {
    width: 50%;
    padding: 15px;
    @media(max-width:1200px){
      width: 100%;
      padding: 10px 0;
    }
    > button {
      display: block;
      width: 100%;
      cursor: pointer;
    }
    .vote-box__division {
      display: block;
      background: url('/images/bg/galaxy.webp');
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @media(max-width:1200px){
        padding: 15px 0;
      }
      h3,h4,p {
        color: $-c-white;
      }
      h3 {
        font-size: 20px;
      }
      h4 {
        @media(max-width:1200px){
          margin-bottom: 15px;
        }
      }
      > div {
        width: calc(100% - 80px);
        padding: 0 10px;
        &:first-of-type {
          width: 80px;
          height: 80px;
          padding: 10px;
          img {
            display: block;
            width: 60px;
            height: 54px;
            border-radius: 8px;
            overflow: hidden;
          }
        }
      }
    }
    .vote-box__division--form {
      display: block;
      background: url('/images/bg/galaxy.webp');
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      > div {
        width: 100%;
        text-align: center;
        input {
          display: inline-block;
          width: 300px;
          background: rgba(200, 200, 200, 0.75);
          border: none;
          border-radius: 5px;
          font-size: 20px;
          padding: 5px 10px;
          transition: all 0.5s ease-in-out 0s, filter 0.2s ease-in-out 0s;
          &:focus {
            filter: drop-shadow(8px 5px 4px #4444dd);
          }
        }
      }
      button {
        background: rgba(200, 200, 200, 0.75);
        filter: drop-shadow(0px 0px 4px #4444dd);
        border: none;
        border-radius: 5px;
        font-size: 20px;
        padding: 5px 10px;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.vote-room {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: auto;
  border-radius: 6px;
  background: url('/images/bg/galaxy.webp');
  label {
    display: flex;
    span {
      color: $-c-white;
    }
  }
  input[type="text"],input[type="number"] {
    display: inline-block;
    min-width: 200px;
  }
  .vote-result {
    position: relative;
    height: 50px;
    &:not(:first-of-type) {
      margin-top: 15px;
    }
    .vote-result__content, .vote-result__voted, .vote-result__bar {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
    }
    .vote-result__content {
      z-index: 7;
      left: 15px;
      width: calc(100% - 150px);
      text-overflow: ellipsis;
      white-space: pre;
      overflow: hidden;
      color: $-c-white;
    }
    .vote-result__voted {
      z-index: 6;
      color: $-c-white;
      right: 15px;
      b {
        position: absolute;
        display: inline-block;
        right: 51px;
        white-space: pre;
      }
    }
    .vote-result__bar {
      z-index: 5;
      height: 100%;
      left: 0;
      background: linear-gradient(to right, rgb(73, 0, 12), rgb(0, 0, 63) );
      border-radius: 5px;
      border: 1px solid lightgrey;
    }
  }
} 
.kakao {
  padding: 50px 11px 0;
  button {
    display: block;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    &:active {
      outline: none;
    }
  }
}